.drop-area{
  width:100px;
  height:25px;
  border: 1px solid #999;
  text-align: center;
  padding:10px;
  cursor:pointer;
}
#thumbnail img{
  width:100px;
  height:100px;
  margin:5px;
}
#thumbnail2 img{
  width:100px;
  height:100px;
  margin:5px;
}
canvas{
  border:1px solid red;
}